<% provide(:title,  'Tasks') %>

<h1>Tasks List</h1>

<div class="row">
	<div class="span2">ID</div>
    <div class="span2">Title</div>
    <div class="span8">Description</div>
</div>

<% @tasks.each do |task| %>
<div class="row">
    <div class="span2"><%= task.id %></div>
    <div class="span2"><%= task.title %></div>
    <div class="span8">
    	<% if task.description.empty? %>
			<%= "N/A" %>
		<% else %>
			<%= task.description %>
		<% end %>
    </div>
</div>
<% end -%>

<%= link_to "Create Task", new_task_path, class: "btn btn-large btn-primary" %>