<% provide(:title,  'Tasks') %>

<h1>Tasks List</h1>

<div class="row">
	<div class="span1">ID</div>
    <div class="span2">Title</div>
    <div class="span2">Timing</div>
    <div class="span2">Status</div>
    <div class="span4">Description</div>
</div>

<% @tasks.each do |task| %>
<div class="row">
    <div class="span1"><%= task.id %></div>
    <div class="span2"><%= task.title %></div>
    <div class="span2"><%= task.timing %></div>
    <div class="span2">
        <% if task.status %>
            <%= "Completed" %>
        <% else %>
            <%= "Uncompleted" %>
        <% end %>
    </div>
    <div class="span4">
    	<% if task.description.empty? %>
			<%= "No Description" %>
		<% else %>
			<%= task.description %>
		<% end %>
    </div>
</div>
<% end -%>

<%= link_to "Create Task", new_task_path, class: "btn btn-large btn-primary" %>