<% provide(:title,  'Tasks') %>

<table class="table">
  <caption><strong>Task List</strong></caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless @tasks.nil? || @tasks.empty? %>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.timing %></td>
      <td><%= task.priority %></td>
      <td>
          <% if task.status %>
              <%= "Completed" %>
          <% else %>
              <%= "Pending" %>
          <% end %>
      </td>
      <td>
          <% if task.description.empty? %>
              <%= "No Description" %>
          <% else %>
              <%= task.description %>
          <% end %>
      </td>
      <td>
        <%= link_to "Edit", edit_task_path(task) %> | 
        <%= link_to 'Delete', {:action=>'destroy', :id=>task.id}, :confirm=>"Are you sure", :method=>:delete %>
      </td>
    </tr>
    <% end -%>
    <% end %>
  </tbody>
</table>

<%= link_to "Create Task", new_task_path, class: "btn btn-large btn-primary" %>