<% provide(:title,  'Task') %>

<h1><%= @task.title %></h1>

<h2>Timing</h2>
<p><%= @task.timing %></p>

<h2>Status</h2>
<p>
	<% if @task.status %>
        <%= "Completed" %>
    <% else %>
        <%= "Uncompleted" %>
    <% end %>
</p>

<h2>Description</h2>
<p>
	<% if @task.description.empty? %>
        <%= "No Description" %>
    <% else %>
        <%= @task.description %>
    <% end %>
</p>

<%= link_to "List All Tasks", tasks_path %>